<!DOCTYPE html>
<html>
<div class="container">
    <form id="signup">
        <div class="header">
            <h3>Sign In</h3>
              <p>Fill out this form</p>
        </div>
        <div class="sep"></div>
        <div class="inputs">
             <input type="email" placeholder="e-mail" autofocus  required/>
             <input type="password" placeholder="Password" required/>
            <a id="submit" href="#">SIGN IN</a>
        </div>
    </form>
</div>
<%= debug(params) if Rails.env.development? %>
</html>